<ion-content [fullscreen]="true">
  <div class="splash-animado" *ngIf="cargando">
    <h1>4*B</h1>
    <h1>Juan Manuel</h1>
    <h1>Garcia</h1>
    <div class="posicion">
      <img class="icon-animado" src="../../assets/ic_launcher.png" width="25%" alt="">
    </div>
  </div>
  <div class="contenedor" *ngIf="!cargando">
    <h1>Alarma de Robo</h1>
    <img src="../../assets/ic_launcher.png" width="25%" alt="">
    <div class="form" >
      <div class="left">
        <form [formGroup]="form" (ngSubmit)="Login()">
          <div class="left">
        <label class="tipo" for="">Correo Electrónico</label>
        <div class="ingreso">
          <ion-icon slot="start" name="accessibility-outline"></ion-icon>
          <input type="email" formControlName="email" placeholder="Ingrese correo">
        </div>
        <ion-label color="danger" *ngIf="form.get('email')?.touched && !form.get('email')?.valid">Correo Inválido</ion-label>
        <label class="tipo" for="">Contraseña</label>
        <div class="ingreso">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <input type="password" formControlName="password" placeholder="Ingrese contraseña">
        </div>
        <ion-label color="danger" *ngIf="form.get('password')?.touched && !form.get('password')?.valid">Falta Contraseña</ion-label> 
        <ion-button size="large" class="vertical" (click)="Login()" fill="solid" [disabled]="form.invalid || validando" color="danger">
          <ion-label>Ingresar</ion-label>
          <ion-icon slot="" name="navigate-outline"></ion-icon>
        </ion-button>
      </div>
      </form>
        <ion-label color="danger" *ngIf="loginInvalido">Credenciales Invalidas</ion-label> 
        <div class="acceso-rapido">
          <button (click)="completarAdmin()" class="acceso-rapido-but">Admin</button>
          <button (click)="completarUsuario()" class="acceso-rapido-but">Usuario</button>
          <button (click)="completarTester()" class="acceso-rapido-but">Tester</button>
          <button (click)="completarInvitado()" class="acceso-rapido-but">Invitado</button>
          <button (click)="completarAnonimo()" class="acceso-rapido-but">Anonimo</button>
        </div>
      </div>
    </div>
    <div class="mostrar-error">
      <div *ngIf="validando" class="center">
        <ion-spinner class="circular" name="circular"></ion-spinner>
        <h2>Validando...</h2> 
      </div>
    </div>
  </div>
</ion-content>
